:root {
     --primary:#4E60FF;
     --primary-200: #697BFF;
     --primary-light:#F3F4FF;
     --white:#FFF;
     --placeholder-color: #83859C;
     --input-border:#c7c8d2;
     --black:#2B2B43;
     --gray:#545563;
     --font: 'Nunito';
}


