// Large devices (desktops, 992px and up)
@media (min-width:1200px) { 
    
    .login {
        display: flex;
    
        .login-left {
            padding: 0 165px;
            height: 100vh;
            width: 45vw;
        }
    
        .login-right {
            display: block;
            background-color: var(--primary-200);
            height: 100vh;
            width: 55vw;
        }
    }
}