<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../Css/index.css">
    <title>Food Delivery | Login</title>
</head>

<body>
    <div class="login">
        <div class="login-left">
            <nav class="navbar">
                <img src="../Assets/logo.svg" alt="logo">
            </nav>
            <div class="login-form">
                <h1>Login</h1>
                <p>Sign in with your data that you entered during your registration.</p>
                <form>
                    <div class="form-input">
                        <label for="email">Email</label>
                        <input class="form-input__email" type="email" placeholder="name@example.com" name="email" id="email" required>
                    </div>
                    <div class="form-input">
                        <label for="password">Password</label>
                        <div class="form-input-pw">
                            <input type="password" placeholder="min. 8 characters" minlength="8" name="password"
                                id="password" required>
                            <a href="#">
                                <img src="../Assets/eye.svg" alt="eye">
                            </a>
                        </div>
                    </div>
                    <div class="form-checkbox">
                        <input type="checkbox" name="logged-in" id="logged-in">
                        <label for="logged-in"> Keep me logged in</label>
                    </div>
                    <button class="form-submit" type="submit">Login</button>
                    <button class="form-reset-pw">Forgot password</button>
                </form>
            </div>
            <footer class="footer">
                <a href="">Don’t have an account? <span class="primary">Sign up</span></a>
            </footer>
        </div>
        <div class="login-right"></div>
    </div>
</body>

</html>